<table class ="table">
  <thead class="thead">
    <tr>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= link_to(task.title, task_path(task)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>