<table>
  <tr>
    <th>
      Title
    </th>
    <td>
      <%= @task.title %>
    </td>
  </tr>
</table>

<table>
  <% @schedules.each do |schedule| %>
    <tr>
      <td>
        <% if schedule.cat %> 
          <%= link_to(schedule.cat.name, cat_path(schedule.cat)) %>
        <% else %>
          (deleted cat)
        <% end %>
      </td>
      <td>
        <%= schedule.scheduled_at %>
      </td>
    </tr>
  <% end %>
</table>