<%= link_to("newcat", new_cat_path, class: "btn btn-primary") %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <% @cats.each do |cat| %>
    <tr>
      <td>
        <%= link_to(cat.name, cat_path(cat)) %>
      </td>
    </tr>
  <% end %>
</table>